.backG01 {
    background-image: url('/img/backG02.jpg');
    background-size: 100%;
    background-position: unset;
    background-color: rgba(255,255,255,0.8);
    background-blend-mode: lighten;
}

.backG02 {
    background-image: url('/img/backG02.jpg');
    background-size: 100%;
    background-position: unset;
    background-color: rgba(255,255,255,0.3);
    background-blend-mode: lighten;
}

.backGSub01 {
    background-color: rgba(255,255,255,0.4);
    background-blend-mode: lighten;
}

.maxtextwidth01 {	
    font-size: 100%;	
    margin-left: 10px;	
    margin-right: 10px;	
    margin-top: 15px;	
    font-family: 'Times New Roman', Times, serif;	
    text-align: center;	
    font-size: large;	
    font-weight: bold;	
}	

.centered {
    align-items: center;
    justify-content: center;    
    display: flex;
}

.center980 {
    text-align: center;
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
}

.margins10 {
    margin-left: 10px;
    margin-right: 10px;
}

.padding10 {
    padding-left: 10px;
    padding-right: 10px;
}

.tdc {
    text-align: center;
}

.tdc2 {
    text-align: center;
    font-weight: bold;
    background-color: darkgray;
}

.tdp {
    padding-left: 10px;
    padding-right: 10px;
}

.dark01 {
    background-color: black;
    color: white;
    text-align: center;
}

.dark01:hover {
    color: red;
}

.img300 {
    display: table-cell;
    text-align: center;
    margin-left: auto;
    margin-right: auto;    
    vertical-align: middle;
    width: 90%;
    box-shadow: 3px 3px 10px black;   
}

.inpHoverGrey:focus {
    background-color:lightgray;
}

.img300:hover {
    box-shadow: 6px 6px 10px black;
}

.textred:hover {
    color: red;
}

.kiemel:hover {
    color: red;
    background-color: black;
}

.kiemel2:hover {
    background-color: rgba(255,255,255,0.9);
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    font-weight: bold;
    margin-left: 10px;
}

.linker01 {
    font-size: 20px;
}

.maxwidth1000 {
    width: 98%;
    max-width: 960px;    
    margin-left: 10px;
    margin-right: 10px;
    text-align: justify;
}

.maxwidth550 {
    width: 100%;
    max-width: 540px;    
    margin-left: 10px;
    text-align: justify;
}

.maintitle {
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    border: black;
    padding: 20px;
}

.subtitle { 
    font-size: 25px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.textbold {
    font-weight: bold;
}

.tb {
    font-weight: bold;
}

.bordered {
    border-width: 1px;
    border-style: solid;
}

.tooltip {
    display: inline;
    color:black;
    position: relative;
}

.tooltip:hover:after{
    background: grey;
    border-radius: 5px;
    color: #fff;
    content: attr(title);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    top: -53px;
    width: 163px;
}

.tooltip:hover:before{
  border:solid;
  border-color: #333 transparent;
  border-width: 6px 6px 0px 6px;
  bottom: 20px;
  content: "";
  left: 50%;
  position: absolute;
  z-index: 99;
}

.shadow01 {
    box-shadow: 3px 3px 10px black;
}